<div class="neighbor-card">
  <div class="card-header">
    <h2 class="neighbor-name">{{ neighbor.name }}</h2>
    <span class="neighbor-type">
      @if(neighbor.is_friend) {
          @if(neighbor.depth == 1) {
            <span class="friend-tag">Friend</span>
          }
          @else {
            <span class="friend-tag friend-of-friend-tag">Friend of Friend</span>
          }
      }
      @if(neighbor.friendship_requested) {
          <span class="friend-tag friend-request-tag">Requested</span>
      }
    </span>
  </div>
  <div class="card-image">
    <img [src]="neighbor.imageUrl" [alt]="neighbor.name">
  </div>
  <div class="card-stats">
    <div class="left-col">Distance Away:</div>
    <div class="right-col">{{ convertMetersToMiles(neighbor.distance_m) | number:'1.2-2' }} miles</div>
    <div class="left-col">Address:</div>
    <div class="right-col">{{ neighbor.home_address }}</div>
  </div>
  <section class="button-section">
    @if(neighbor.is_friend && neighbor.depth == 1) {
      <button class="btn friend" (click)="unfriend()">Unfriend</button>
    }
    @else if(!neighbor.friendship_requested) {
      <button class="btn friend_of_friend" (click)="friend()">Request Friendship</button>
    }
    @else {
      <button class="btn" (click)="cancelrequest()" requested>Cancel Pending Request</button>
    }
  </section>

</div>