<div class="main-grid">
  <div class="left-column">

    <section>
      <h2>Search for Tools</h2>
      <img src="/search_for_tools.png">
      <div class="card-controls">
        <input id="searchTermsInput" type="text" placeholder="Search tools..." />
        <button class="card-button" (click)="searchTools()">Go</button>
      </div>
    </section>

    <section>
      <h2>Browse Nearby Tools</h2>
      <img src="/browse_for_tools.png">
      <div class="card-controls">
        <select id="browseRadiusSelect" class="card-dropdown">
          <option value="" disabled selected hidden>Search Radius:</option>
          @for (radius of this.globalValuesService.browseRadii; track radius.value) {
            <option [value]="radius.value">{{ radius.text }}</option>
          }
        </select>
        <button class="card-button" (click)="browseTools()">Go</button>
      </div>
    </section>

    <section class="search-neighbors">
      <h2>Search for Friends</h2>
      <img src="/search_for_friends.png">
      <input type="text" placeholder="Search neighbors..." />
    </section>
  </div>

  <div class="right-column">
    <section class="news">
        <h2>Latest News</h2>
        <div class="news-items">
            <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>A New Neighbor</mat-card-title>
                <mat-card-subtitle>Aug 14, 2025</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>John Smith joined!</p>
            </mat-card-content>
            </mat-card>

            <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>Brand New Tool!</mat-card-title>
                <mat-card-subtitle>Aug 12, 2025</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Your friend Don Johnson listed his electric string trimmer!</p>
            </mat-card-content>
            </mat-card>

            <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>Neighbor Spotlight</mat-card-title>
                <mat-card-subtitle>Aug 10, 2025</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Pete Townsend now has 25 tools listed!</p>
            </mat-card-content>
            </mat-card>
        </div>
        </section>

  </div>
</div>
