<div class="main-grid">
  <div class="left-column">

    <section>
      <h2>Search for Tools</h2>
      <img src="/search_for_tools.png">
      <div class="card-controls">
        <input id="searchTermsInputTools" type="text" placeholder="Search tools..." />
        <button class="card-button" (click)="searchTools()">Go</button>
      </div>
    </section>

    <section>
      <h2>Browse Nearby Tools</h2>
      <img src="/browse_for_tools.png">
      <div class="card-controls">
        <select id="browseRadiusSelect" class="card-dropdown">
          <option value="" disabled selected hidden>Search Radius:</option>
          @for (radius of this.globalValuesService.browseRadii; track radius.value) {
            <option [value]="radius.value">{{ radius.text }}</option>
          }
        </select>
        <button class="card-button" (click)="browseTools()">Go</button>
      </div>
    </section>

    <section class="search-neighbors">
      <h2>Search for Friends</h2>
      <img src="/search_for_friends.png">
      <div class="card-controls">
        <input id="searchTermsInputNeighbors" type="text" placeholder="Search neighbors..." />
        <button class="card-button" (click)="searchNeighbors()">Go</button>
      </div>
    </section>
  </div>

  <div class="right-column">
    <app-news></app-news>
  </div>
</div>
