<div class="container" #parentContainer>
    <div class="left-section" #leftSection>
        @if(allVisibleObjects) {
            <div class="top-section">
                <div class="header">
                    <h2><span [class.bounce]="objectCountBounceFlag()">🔍</span> <span [class.bounce]="objectCountBounceFlag()">{{ allVisibleObjectsCount() }}</span> Neighbors</h2>
                    <div class="searchbox">
                        <div>
                            <div>
                                <span>Search Radius:</span>
                                <select #radiusSelect [(ngModel)]="this.radius" (change)="searchCriteriaChange(+radiusSelect.value, searchCriteria.value, searchWithAnd.value)">
                                    @for (radius of this.globalValuesService.browseRadii; track radius.value) {
                                        <option [value]="radius.value">{{ radius.text }}</option>
                                    }
                                </select>
                            </div>

                            <div>
                                <span>Search Type:</span>
                                <select #searchWithAnd [(ngModel)]="this.searchWithAnd" (change)="searchCriteriaChange(+radiusSelect.value, searchCriteria.value, searchWithAnd.value)">
                                    <option value="Y">Match All Values</option>
                                    <option value="N">Match Any Value</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <div>
                                <span>Search criteria:</span>
                                <input #searchCriteria [(ngModel)]="this.searchCriteria" (change)="searchCriteriaChange(+radiusSelect.value, searchCriteria.value, searchWithAnd.value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-section">
                @for(neighbor of allVisibleObjects; track neighbor.id; let i = $index) {
                    <div #objectCards>
                        @defer (on viewport) {
                            <app-friends-neighbor-card [object]="neighbor" (click)="onListObjectClick(i)"></app-friends-neighbor-card>
                        }
                        @placeholder {
                            <div class="neighbord-card-placeholder">
                                <mat-spinner></mat-spinner>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>

    <div class="grabber" appResize [parentContainer]="parentContainer" [leftResize]="leftSection" [rightResize]="rightSection"></div>

    <div class="right-section" #rightSection>
        @if(markerData) {
            <app-map
                #mapRef
                [defaultCenterLocation]="defaultCenterLocation"
                [defaultZoomLevel]="defaultZoomLevel"
                [layerGroupNames]="layerGroupNames"
                [markerData]="markerData"
                [sortFunction]="sortFunction"
                [convertIdToObject]="idToObject.bind(this)"
                (visibleLayersCleared)="onVisibleLayersCleared($event)"
                (visibleLayersRefreshed)="onVisibleLayersRefreshed($event)"
                (ready)="onReady($event)"
            ></app-map>
        }
    </div>
</div>