<mat-card class="person-card">
    <mat-card-content>
        <h2 class="person-name">{{ neighbor.name }}</h2>
        <div class="person-body">
            <img [src]="neighbor.imageUrl" [alt]="neighbor.name" class="person-image"/>
            <span class="neighbor-type" >
                @if(neighbor.is_friend) {
                    @if(neighbor.depth == 1) {
                        <span class="friend-tag">Friend</span>
                    }
                    @else {
                        <span class="friend-tag friend-of-friend-tag">Friend of Friend</span>
                    }
                }
                @if(neighbor.friendship_requested) {
                    <span class="friend-tag friend-request-tag">Requested</span>
                }
            </span>
            <div class="person-info">
                <p class="person-address">{{ neighbor.home_address }} </p>
                @if (neighbor.tool_count > 0) {
                    <p class="person-toolcount">Sharing {{ neighbor.tool_count }} tools!</p>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>
