<div id="map" class="map"
    leaflet leafletMap
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="onMapClick($event)"
    (leafletMapMoveEnd)="refreshAllVisibleMarkers()"
>
    <!-- Marker Layer (tools & neighbors together) -->
    @if (true) {
        <div
            [leafletLayersControl]="controlLayerConfig"
            [leafletLayersControlOptions]="controlLayerOptions"
            (leafletLayersControlReady)="layerControlReady($event)"
        ></div>
    }

</div>

