<span class="chat-button" [matMenuTriggerFor]="mailMenu">
  <fa-icon [icon]="faComments" class="mail-icon"></fa-icon>
  @if( numNewMessages ) {
    <span class="badge">{{ numNewMessages }}</span>
  }
</span>

<mat-menu #mailMenu="matMenu" class="mailbox">
  <div class="inbox-panel" (click)="$event.stopPropagation()">
<button (click)="send()">PUSH ME</button>
Connected?  {{ chatService.connected() }}<br>

    <h3>Chats</h3>
    <div class="chat-container">
      @for(chat of chats; track chat.id; let i = $index) {
            <app-chat-thread class="chat" [chat]="chat" [loadFunction]="getMessagesForChat.bind(this, chat.id)"></app-chat-thread>
      }
    </div>

    @if (numNewMessages == 0) {
      <span class="nomail">
        <img src="/no_mail.png"/>
        <h4>You have no notifications.</h4>
      </span>
    }
  </div>
</mat-menu>
