<div class="settings-container">
    <h2>🧑‍💻 User Registration</h2>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <!-- Login Information Section -->
        <fieldset class="section">
            <legend>Login Information</legend>
            <div class="form-row">
                <label for="userid">User ID</label>
                <input id="userid" formControlName="userid" type="text" />
            </div>

            <div class="form-row">
                <label for="password">Password</label>
                <input id="password" formControlName="password" type="password" />
            </div>
        </fieldset>

        <!-- Personal Information Section -->
        <fieldset class="section">
            <legend>Personal Information</legend>

            <div class="form-row">
                <label for="name">Name</label>
                <input id="name" formControlName="name" type="text"
                    matTooltip="Your full name, shown to your friends." />
            </div>

            <div class="form-row">
                <label for="nickname">Nickname</label>
                <input id="nickname" formControlName="nickname" type="text"
                    matTooltip="Your nickname (or First Name + Last Initial), shown to neighbors that are not your friend." />
            </div>

            <div class="form-row">
                <label for="address" class="narrower">Address</label>
                @if(addressValid) {
                    <div class="icon" matTooltip="We found your address!">👍</div>
                }
                @else {
                    <div class="icon"matTooltip="We can't find your address.  Please try re-entering it.">❌</div>
                }
                <textarea id="address" formControlName="address" rows="3" (blur)="validateAddress()"></textarea>
            </div>

            <div class="form-row">
                <label for="photo" class="narrower">Photo</label>
                @if (this.settingsForm.get('photo')?.value) {
                    <div class="icon" (click)="resetPhoto()" matTooltip="Discard this picture."><fa-icon [icon]="faTrash"></fa-icon></div>
                }
                @else {
                    <div class="icon blank"><fa-icon [icon]="faTrash"></fa-icon></div>
                }
                <input #photoInput id="photo" type="file" (change)="onPhotoSelected($event)" accept="image/*" />
            </div>

            @if (photoPreview) {
            <div class="preview">
                <img [src]="photoPreview" alt="Photo preview" />
            </div>
            }
        </fieldset>
        <button type="submit" [disabled]="(!settingsForm.dirty && !photoChanged) || settingsForm.invalid || !addressValid">Save Changes</button>
    </form>
</div>

<div class="donthavea">
    <span [routerLink]="'/login'">
        Already have an account?
    </span>
</div>
