<div class="container">
    <div class="left-section">
        @if(allVisibleObjects) {
            <div class="neighbor-header">
                <h2><span [class.bounce]="objectCountBounceFlag()">🔍</span> <span [class.bounce]="objectCountBounceFlag()">{{ allVisibleObjectsCount() }}</span> Tools</h2>
            </div>

            @for(_tool of allVisibleObjects; track _tool.id; let i = $index) {
                @let tool = asTool(_tool);
                <mat-card #objectCards class="person-card" (click)="onListObjectClick(i)">
                    <mat-card-content>
                        <h2 class="person-name">{{ tool.name }}</h2>
                        <div class="person-body">
                            <img [src]="tool.imageUrl" [alt]="tool.name" class="person-image"/>
                            <!-- <div class="person-info">
                                <p class="person-address">{{ neighbor.home_address }} </p>
                            </div> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            }
        }
    </div>

    <div class="right-section">
        @if(markerData) {
            <app-map
                #mapRef
                [defaultCenterLocation]="defaultCenterLocation"
                [defaultZoomLevel]="defaultZoomLevel"
                [layerGroupNames]="layerGroupNames"
                [markerData]="markerData"
                [sortFunction]="sortFunction"
                [convertIdToObject]="idToObject.bind(this)"
                (visibleLayersCleared)="onVisibleLayersCleared($event)"
                (visibleLayersRefreshed)="onVisibleLayersRefreshed($event)"
                (ready)="onReady($event)"
            ></app-map>
        }
    </div>
</div>