<div class="container" #parentContainer>
    <div class="left-section" #leftSection>
        @if(allVisibleObjects) {
            <div class="top-section">
                <div class="header">
                    <h2><span [class.bounce]="objectCountBounceFlag()">🔍</span> <span [class.bounce]="objectCountBounceFlag()">{{ allVisibleObjectsCount() }}</span> Tools</h2>
                    <span>Search radius:</span>
                    <select #radiusSelect [(ngModel)]="this.radius" (change)="radiusChange(+radiusSelect.value)">
                        @for (radius of this.globalValuesService.browseRadii; track radius.value) {
                            <option [value]="radius.value">{{ radius.text }}</option>
                        }
                    </select>
                </div>
            </div>

            <div class="bottom-section">
                @for(tool of allVisibleObjects; track tool.id; let i = $index) {
                    <div #objectCards>
                        @defer (on viewport) {
                            <app-browse-tool-card [object]="tool" (click)="onListObjectClick(i)"></app-browse-tool-card>
                        }
                        @placeholder { 
                            <div class="tool-card-placeholder">
                                <mat-spinner></mat-spinner>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>

    <div class="grabber" appResize [parentContainer]="parentContainer" [leftResize]="leftSection" [rightResize]="rightSection"></div>

    <div class="right-section" #rightSection>
        @if(markerData) {
            <app-map
                #mapRef
                [defaultCenterLocation]="defaultCenterLocation"
                [defaultZoomLevel]="defaultZoomLevel"
                [layerGroupNames]="layerGroupNames"
                [markerData]="markerData"
                [sortFunction]="sortFunction"
                [convertIdToObject]="idToObject.bind(this)"
                (visibleLayersCleared)="onVisibleLayersCleared($event)"
                (visibleLayersRefreshed)="onVisibleLayersRefreshed($event)"
                (ready)="onReady($event)"
            ></app-map>
        }
    </div>
</div>