<mat-card class="tool-card">
    <mat-card-title>
        <div class="title-row">
            <div>
                {{ tool.brand }}
            </div>
            @if(showOwner && tool.ownerName && tool.ownerimageUrl) {
                <div matTooltip="{{ tool.ownerName }}">
                    <img [src]="tool.ownerimageUrl" [alt]="tool.ownerName" class="tool-owner"/>
                </div>
            }
        </div>
    </mat-card-title>
    <mat-card-subtitle>{{ tool.short_name }}</mat-card-subtitle>
    <mat-card-content class="tool-details">
        <div>
            <h3>{{ tool.name }}</h3>
            <a class="tool-link" [href]="tool.product_url" target="_blank" rel="noopener noreferrer">Product Link</a>
        </div>
        <div>
            <img [src]="tool.imageUrl" [alt]="tool.name" class="tool-image" />
        </div>
    </mat-card-content>
</mat-card>
