<div class="container">
  <header class="header">
    <div class="logo" routerLink="/home"><img src="images/logo-300.png"></div>
    @if(loggedIn()) {
      <span class="right-side-buttons">
        <span>
          <app-notification-inbox></app-notification-inbox>
        </span>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-button">
          @if(myInfo().imageUrl) {
            <img [src]="myInfo().imageUrl" alt="picture" class="hamburger-photo"/>
          } @else {
            <mat-icon>menu</mat-icon>
          }
        </button>
      </span>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item (click)="openMyInfoDialog()">
            <mat-icon>account_circle</mat-icon>
            <span>My Info</span>
        </button>
        <button mat-menu-item [routerLink]="['/friends']">
            <mat-icon>people</mat-icon>
            <span>Manage Friends</span>
        </button>
        <button mat-menu-item routerLink="/mytools">
            <mat-icon fontSet="fa" fontIcon="fa-toolbox"></mat-icon>
            <span>Manage My Tools</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()">
            <mat-icon fontSet="fa" fontIcon="fa-sign-out"></mat-icon>
            <span>Logout</span>
        </button>

        <button mat-menu-item routerLink="/browse">
            <mat-icon fontSet="fa" fontIcon="fa-toolbox"></mat-icon>
            <span>Browse Tools</span>
        </button>
      </mat-menu>
    }
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Neighborhood Tool Hub</p>
  </footer>
</div>