<div class="container">
    <h2>🧑‍💻 User Login</h2>
    <mat-card>
        <mat-card-content>
            <form id="login" [formGroup]="loginFormGroup" (ngSubmit)="login()">

                <!-- UserID -->
                <mat-form-field>
                    <mat-label>User ID</mat-label>
                    <input matInput placeholder="" formControlName="userid" required>
                    @if(userid.invalid && (userid.dirty || userid.touched)) {
                        <mat-error>Please enter a valid userid.</mat-error>
                    }
                </mat-form-field>

                <!-- Password -->
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

    @if (errorMessage) {
        <div class="error-container">
            <div class="error-icon">⚠️</div>
            <div class="error-message">
                <h3>Oops! Something went wrong.</h3>
                <p>{{ errorMessage }}</p>
            </div>
        </div>
    }

    <div class="buttons">

        <!-- Login button -->
        <button mat-raised-button class="first_button" [disabled]="!loginFormGroup.valid || loading" form="login" type="submit">
            @if (loading) {
                <mat-progress-spinner
                    diameter="20"
                    mode="indeterminate"
                    color="accent"
                    class="spinner-inline">
                </mat-progress-spinner>
            }
            @else {
                <span [ngClass]="{ 'spinner-border spinner-border-sm': loading }"></span> Login 
            }
        </button> 

        <!-- Forgot password button -->
        <button mat-raised-button>
            <span [routerLink]="'/forgotpassword'"> Forgot Password? </span>
        </button> 
    </div>

    <div class="buttons">
        <span [routerLink]="'/register'">
            <button class="donthavea" mat-raised-button>
                Don't have an account?
            </button>
        </span>
    </div>
</div>
